@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

.app {
    width: 100%;
    height :100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 3rem;
    font-weight: bolder;
    margin  : 50px 0 5px;
}


.pads {
    display: flex;
    width: 100%;
}
.pads > div {
    min-width: 100px;
    height: 100px;
    flex: 1;
    cursor: pointer;
}

.pad1 {
    background-color: rgb(226, 123, 39);
}
.pad2{
    background-color: rgb(203, 206, 19);
}
.pad3 {
    background-color: rgb(56, 211, 9);
}
.pad4 {
    background-color: rgb(12, 97, 167);
}
.pad5 {
    background-color: rgb(238, 56, 111);
}
.pad6 {
    background-color: rgb(126, 39, 226);
}


.visual div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 20%;
    z-index: -1;
}

@keyframes jump {
    0%{
        bottom: 0;
        left: 20%;
    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        bottom: 0;
        left: 80%;
    }
}